BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Attach
PointerAlignment: Left
NamespaceIndentation: None
SortIncludes: Never
ReflowComments: false
